beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
defcon==0.3.5
defusedxml==0.5.0
gfdiffbrowsers
Flask==1.1.0
font-v==0.6.1
fontMath==0.4.4
fonttools==3.21.2
git+https://github.com/googlefonts/tools
gitdb2==2.0.3
GitPython==2.1.8
glyphsLib==2.2.1
google-api-python-client==1.6.5
google-apputils==0.4.2
httplib2==0.19.0
idna==2.6
itsdangerous==0.24
Jinja2==2.11.1
lxml==4.6.2
MarkupSafe==1.0
MutatorMath==2.1.0
nose==1.3.7
oauth2client==4.1.2
olefile==0.44
Pillow==9.0.1
protobuf==3.5.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pybrowserstack-screenshots==0.1
PyDrive==1.3.1
python-dateutil==2.6.1
python-gflags==3.1.2
pytz==2017.3
pyyaml==5.3.1
requests==2.23.0
rsa==3.4.2
simplejson==3.12.0
six==1.11.0
smmap2==2.0.3
tabulate==0.8.2
ufoLib==2.1.1
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.25.8
werkzeug==1.0.1
wheel==0.24.0
